
@if (user) {
    <div class="container mt-5">
    <div class="main-body">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/users']" class="text-info" data-toggle="tooltip" title="home">Home</a>
                  </li>
                  <li class="breadcrumb-item">User</li>
                <li class="breadcrumb-item active" aria-current="page">User Details</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->
<app-user-form [mode]="'details'"  [user]="user"></app-user-form>
</div>
</div>
}
