<div class="row gutters-sm">
    @if (mode != 'create' && user) {
    <!-- Profile Sidebar -->
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
            <div class="card-header">Profile Picture</div>
            <div class="card-body text-center">
                <img src="assets/img/user-icon.png" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-4">
                    <h4 class="font-weight-bold text-primary">{{ user.name }}</h4>
                    <p class="text-muted">{{ user.company.name }}</p>
                    <p class="text-secondary mb-1">{{ user.website }}</p>
                    @if (mode == 'details') {
                    <button class="btn btn-outline-primary me-2 mt-3" (click)="editUser(user)">Edit</button>
                    }
                    <button class="btn btn-outline-danger mt-3" (click)="deleteUser(user.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="col-xl-8">
        <!-- Edit User Form -->
        <div class="card mb-4">
            <div class="card-header"> {{ mode === 'edit' ? 'Edit User' : mode === 'create' ? 'Create User' : 'User Details' }}</div>
            <div class="card-body">


                <form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
                    <!-- Form Group (name)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputName">Name</label>
                        <input class="form-control" id="inputName" formControlName="name" type="text">
                    </div>
                    <!-- Form Group (username)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Username</label>
                        <input class="form-control" id="inputUsername" formControlName="username" type="text">
                    </div>
                    <!-- Form Group (email)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputEmail">Email</label>
                        <input class="form-control" id="inputEmail" formControlName="email" type="email">
                    </div>
                    @if (mode != 'details') {
                    <!-- Form Group (Password)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputPassword">Password</label>
                        <input class="form-control" id="inputPassword" formControlName="password" type="password">
                    </div>
                    <div class="mb-3">
                        <label class="small mb-1" for="inputConfirmPassword">Confirm Password</label>
                        <input class="form-control" id="inputConfirmPassword" formControlName="confirmPassword" type="password">
                    </div>
                }
                    <!-- Address Section -->
                    <h4 class="mb-0 font-weight-bold"><hr>Address<hr></h4>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputStreet">Street</label>
                            <input class="form-control" id="inputStreet" formControlName="street" type="text">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputSuite">Suite</label>
                            <input class="form-control" id="inputSuite" formControlName="suite" type="text">
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputCity">City</label>
                            <input class="form-control" id="inputCity" formControlName="city" type="text">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputZipcode">Zipcode</label>
                            <input class="form-control" id="inputZipcode" formControlName="zipcode" type="text">
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLatitude">Latitude</label>
                            <input class="form-control" id="inputLatitude" formControlName="latitude" type="text">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLongitude">Longitude</label>
                            <input class="form-control" id="inputLongitude" formControlName="longitude" type="text">
                        </div>
                    </div>
                    <hr>
                    <!-- Phone and Website -->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputPhone">Phone</label>
                        <input class="form-control" id="inputPhone" formControlName="phone" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="small mb-1" for="inputWebsite">Website</label>
                        <input class="form-control" id="inputWebsite" formControlName="website" type="text">
                    </div>
                    <!-- Company Section -->
                    <h4 class="mb-0 font-weight-bold"><hr>Company<hr></h4>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputCompanyName">Company Name</label>
                            <input class="form-control" id="inputCompanyName" formControlName="companyName" type="text">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputCatchPhrase">CatchPhrase</label>
                            <input class="form-control" id="inputCatchPhrase" formControlName="catchPhrase" type="text">
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputBS">BS</label>
                            <input class="form-control" id="inputBS" formControlName="bs" type="text">
                        </div>
                    </div>
                                                        <!-- Alert Section -->
                <div *ngIf="alertMessage" class="alert alert-dismissible fade show" [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" role="alert">
                    {{ alertMessage }}
                    <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
                </div>
                    <button class="btn btn-primary mt-3" type="submit">Save Changes</button>

                </form>
            </div>
        </div>
    </div>
</div>
