<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container mt-5 mb-4">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
            <h1 class="table-title">Lise des utilisateurs</h1>
          <table class="table manage-candidates-top mb-0">
            <thead>
              <tr>
                <th>Utilisateur</th>
                <th class="action text-center">Action</th>
              </tr>
            </thead>
            <tbody>
                @for (user of users; track $index) {
              <tr class="candidates-list">
                <td class="title">
                  <div class="thumb">
                    <img class="img-fluid" src="assets/img/user-icon.png" alt="">
                  </div>
                  <div class="candidate-list-details">
                    <div class="candidate-list-info">
                      <div class="candidate-list-title">
                        <h2 class="mb-0">{{ user.name }}</h2>
                      </div>
                      <div class="candidate-list-option">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-phone"></i> {{ user.phone }}</li>
                            <li><i class="fas fa-envelope"></i> {{ user.email }}</li>
                            <li><i class="fas fa-map-marker-alt pr-1"></i> {{ user.address.city }}, {{ user.address.zipcode }}.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <ul class="list-unstyled mb-0 d-flex justify-content-center">
                    <!-- View link -->
                    <li>
                      <a [routerLink]="['/user', user.id]" class="text-primary" data-toggle="tooltip" title="View">
                        <i class="far fa-eye"></i>
                      </a>
                    </li>
                    
                    <!-- Edit link -->
                    <li>
                      <a [routerLink]="['/edit-user', user.id]" class="text-info" data-toggle="tooltip" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                    </li>
                    
                    <!-- Delete link -->
                    <li>
                      <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" title="Delete" (click)="deleteUser(user.id)">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </li>
                  </ul>
                </td>
                
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>